<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="LCB_Faq::faq" 
             title="FAQ" 
             module="LCB_Faq" 
             sortOrder="100" 
             action="faq/faq" 
             parent="Magento_Backend::content_elements"
             resource="Magento_Backend::content" />
    </menu>
</config>

